{% extends "admin/base_custom.html" %}
{% load i18n staging_tags staticfiles %}


{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/generator.css" %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=cl.app_label %}">{{ cl.app_label|capfirst|escape }}</a>
    &rsaquo; {{ cl.verbose_name_plural|capfirst }}
</div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <form action="" method="post" class="generator-form">
        {% csrf_token %}
        <fieldset style="padding: 10px;">
            {{ main_form.non_field_errors }}
            <table>
                <tbody>
                    <tr>
                        <th>{{ main_form.number_to_generate.label }}</th>
                        <td>{{ main_form.number_to_generate }}</td>
                    </tr>
                </tbody>
            </table>
            {% for field in main_form %}
                {% ifnotequal field.name 'number_to_generate' %}
                    <div class="module">
                    <table class="bordered">
                        <caption>
                            {{ field.name|capfirst }}
                        </caption>
                        <tbody>
                            <tr class="main-field" data-name="{{ field.name }}">
                                <th scope="row">{% trans "Generator" %}</th>
                                <td>{{ field }}</td>
                            </tr>
                            {% if extra_forms|get_form_for_field:field.name %}
                                {{ extra_forms|get_form_for_field:field.name }}
                            {% endif %}
                        </tbody>
                    </table>
                    </div>
                {% endifnotequal %}
            {% endfor %}
        </fieldset>
        <button type="submit">{% trans "Generate" %}</button>
    </form>
  </div>

  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcutsCustom.js' %}"></script>
  <script type="text/javascript">
        django.jQuery(function(){
            django.jQuery('.main-field select').change(function(){
                var main_field = django.jQuery(this).closest('.main-field');
                var field_name = django.jQuery(this).attr('name');
                var generator_slug = django.jQuery(this).val();
                django.jQuery.ajax({
                    url: '/admin/ajax/generate/' + field_name + '/' + generator_slug + '/',
                    type: 'GET',
                    success: function(data){
                        main_field.nextAll().each(function(count, element){
                            if (django.jQuery(element).hasClass('main-field')) {
                                return false;
                            }

                            django.jQuery(element).remove();
                        });
                        main_field.after(data);
                        DateTimeShortcuts.init();
                    }
                });
            });
        })
  </script>
{% endblock %}
